.auth-nav {
    display: flex;
}

.auth-nav li {
    flex-basis: 50%;
    background: red;
}

.auth-nav li a {
    background: #25749b;
    color: white;
    text-align: center;
}

.auth-nav li:first-child {
    border-right: 1px solid white;
}
