li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #2e383d;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar {
    background: #222D32;
}

.navbar-brand {
    background: #2f7aa1;
    color:white;
}

.navbar-brand:hover {
    background: #29769f;
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .navbar-header {
        float: none;
        text-align:center;
    }
    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .navbar ul {
        float: none;
    }
    .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px 0;
    }
    .navbar li a {
        padding: 10px 16px;
    }
    .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

li.header{
    background: #1A2226;
    color:#aaa;
    line-height: 30px;
    text-indent: 20px !important;
    font-size: 12px !important;
    font-weight: bold;
}

.current-project > button{
    background: #f0ad4e;
    color:white;
    border: none;
    border-radius: 0;
    width: 100%;
}

.dropdown-menu>li>a{
    padding: 5px 20px !important;
}

.navbar-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(25% - 20px);
    height: 40px;
}

.navbar-footer li > a:first-child{
    border-right: 1px solid #eee;
}

.btn-custom {
    border: none;
    border-radius: 0;
    background: #25749b !important;
    color:#eee;
}

.btn-custom:hover {
    background: #2d7da3 !important;
}

.border-right {
    border-right: 1px solid #aaa;
}