a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.main-content {
    flex-grow: 1;
    padding: 20px 50px;
    height: 100vh;
    overflow-y: auto;
}

.app {
    display: flex;
}

@media screen and (min-width: 992px) {
    .user-profile {
      margin-top: auto;
      background: #2f7aa1;
  }
}

@media screen and (max-width: 991.98px) {
  .app {
    flex-direction: column;
  }

  .main-content {
    height: 100%;
    padding: 20px 30px;
  }
}

.nav-link {
    color: rgba(255,255,255,0.85) !important;
}

.user-profile ul {
}

.user-profile ul li:first-child {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.user-profile ul li {
    flex-basis: 49% !important;
    text-align: center;
}

h1 {
  font-size: 24px !important;
  background-color: #eee;
  padding: 7px 10px;
}

.header-actions {
  background-color: #eee;
  padding: 7px;
  margin: 5px 0;
  float: left;
  width: 100%;
  margin-bottom: 7px;
}

.label-small {
  font-size: 14px !important;
  color: #777;
  position: relative;
  top: -2px;
}

input[type=search] {
    max-width: 250px;
}

.filters-list {
    display: flex;
    list-style: none;
    margin: 0 0.5rem;
    padding: 0;
}

.filters-list li {
    margin-right: 0.5rem;
}
