a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  margin: 0;
  font-size: 22px;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  .navbar-brand {
    background: #2f7aa1;
  }
}

@media screen and (max-width: 991.98px) {
  .sidebar {
      width: 100% !important;
      height: auto !important;
      min-height: auto !important;
  }
}

.sidebar {
  min-width: 280px;
  width: 280px;
  height: 100vh;
  min-height: 200px;
  background: #222d32;
  color: rgba(255, 255, 255, 0.85) !important;
}

.sidebar * {
    color: inherit !important;
}

.nav-item {
    margin-bottom: 5px;
}

.nav-link:hover {
  background: #2e383d;
  color: white !important;
}

.nav-link svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.link-active a {
  background: #2e383d;
  color: white;
}
